framework:
    cache:
        # Unique name of your app: used to compute stable namespaces for cache keys.
        prefix_seed: newsroom/app

        # The "app" cache stores to the filesystem by default.
        # The data in this cache should persist between deploys.
        # Other options include:

        # Use filesystem for the default app cache so the site keeps working if Redis is down
        app: cache.adapter.filesystem
        # Keep Redis available for specific pools
        default_redis_provider: Redis

        # Namespaced pools use the above "app" backend by default
        pools:
            #my.dedicated.cache: null
            subscriptions.cache: null
            credits.cache: null
            articles.cache:
                adapter: cache.adapter.redis
                provider: Redis
                default_lifetime: 0
            npub.cache:
                adapter: cache.adapter.redis
                provider: Redis
                default_lifetime: 86400
