security:
    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        user_dto_provider:
            id: App\Security\UserDTOProvider

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: false
            stateless: false
            provider: user_dto_provider
            custom_authenticators:
                - App\Security\NostrAuthenticator
            logout:
                path: /logout
            entry_point: App\Security\NostrAuthenticator
            access_denied_handler: App\Security\CustomAccessDeniedHandler
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 31536000 # 1 year in seconds
                path: /
                always_remember_me: true
                # Disabled doctrine token provider - use signature-based cookies instead
                # token_provider:
                #     doctrine: true

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/, roles: PUBLIC_ACCESS }
        # - { path: ^/search, roles: ROLE_USER }
        # - { path: ^/nzine, roles: ROLE_USER }
        # - { path: ^/profile, roles: ROLE_USER }
