{% extends 'layout.html.twig' %}

{% block body %}

    {% import 'partial/_author-section.html.twig', {author: author, npub: npub} %}

    <section>
        <div class="profile-tabs">
            <a href="{{ path('author-profile', {'npub': npub}) }}" class="tab-link active">Articles</a>
            <a href="{{ path('author-media', {'npub': npub}) }}" class="tab-link">Media</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('author-about', {'npub': npub}) }}" class="tab-link">About</a>
            {% endif %}
        </div>

        <div class="w-container">
            {% if articles|length > 0 %}
                <twig:Organisms:CardList :list="articles" class="article-list"></twig:Organisms:CardList>
            {% else %}
                <div class="no-media">
                    <p>No articles found for this author.</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

