{% extends 'layout.html.twig' %}

{% block body %}
    <section class="d-flex gap-3 center ln-section--newsstand mb-3">
        <div class="container mt-5 mb-5">
            <h1>Hot</h1>
            <p class="eyebrow">off the presses</p>
        </div>
    </section>
    <div class="w-container">
        <twig:Organisms:CardList :list="latest" />
    </div>
{% endblock %}
