{% extends 'layout.html.twig' %}

{% block body %}
    <section class="d-flex gap-3 center ln-section--latest-articles">
        <div class="container mt-5 mb-5">
            <h1>Latest Articles</h1>
            <p class="eyebrow">Fresh off the presses</p>
        </div>
    </section>

    <section class="container mb-5">
        {% if articles is empty %}
            <div class="alert alert-info">
                No published articles found.
            </div>
        {% else %}
            <twig:Organisms:CardList :list="articles" class="article-list" />
        {% endif %}
    </section>
{% endblock %}

