{% extends 'layout.html.twig' %}

{% block body %}
    <section class="d-flex gap-3 center ln-section--newsstand mb-3">
        <div class="container mt-5 mb-5">
            <h1>Reading Lists</h1>
            <p class="eyebrow">for collections, curations, courses and more</p>
        </div>
    </section>
    <section class="mb-5">
        <twig:Organisms:ReadingListList />
    </section>
{% endblock %}

