{% extends 'layout.html.twig' %}

{% block body %}
    <section class="ln-section--newsstand">
        <div class="container center mt-5 mb-5">
            <h1>{{ 'lists.heading'|trans }}</h1>
            <p class="eyebrow">{{ 'lists.eyebrow'|trans }}</p>
        </div>
    </section>
    <div class="lists-page__content w-container mb-5 mt-5">
        <twig:Organisms:ReadingListList />
    </div>
{% endblock %}
