{% extends 'layout.html.twig' %}

{% block body %}
    <twig:Atoms:PageHeading heading="Multimedia" tagline="Discovery through serendipity"/>

    <div class="w-container">
        {% if error is defined %}
            <div class="error-message">
                <p>{{ error }}</p>
            </div>
        {% endif %}

        {% if mediaEvents|length > 0 %}
            {% include 'partial/_masonry.html.twig' %}

            <div class="discover-footer">
                <p class="media-count">End of the line. Refresh to load a new batch.</p>
            </div>
        {% else %}
            <div class="no-media">
                <p>No media found. Reload to try again.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block aside %}
{#    <div class="topic-filter">#}
{#        <h3 class="aside-heading">Browse by Topic</h3>#}
{#        <div class="topic-list">#}
{#            {% for topic in topics %}#}
{#                <a href="{{ path('media-discovery', {'topic': topic}) }}"#}
{#                   class="topic-item {{ selectedTopic == topic ? 'active' : '' }}">#}
{#                    {{ topic|capitalize }}#}
{#                </a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}
