{% extends 'layout.html.twig' %}

{% block body %}
    <section class="d-flex gap-3 center ln-section--newsstand">
        <div class="container mt-5 mb-5">
            <h1>Newsstand</h1>
            <p class="eyebrow">for the digital age</p>
        </div>
    </section>
    <section class="mb-5">
        <twig:Organisms:ZineList />
    </section>

    <section class="d-flex gap-3 center ln-section--newsstand">
        <div class="container mt-5 mb-5">
            <h1>More magazines soon</h1>
            <p class="eyebrow">this is only the beginning</p>
        </div>
    </section>
{% endblock %}

{% block aside %}
    <twig:Atoms:FeaturedWriters />
{#    <h6>Lists</h6>#}
{#    <twig:Organisms:ReadingListList />#}
{% endblock %}
