{% extends 'layout.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    <section class="d-flex gap-3 center ln-section--newsstand mb-5">
        <div class="container mb-5 mt-5">
            <h1>Discover</h1>
            <p class="eyebrow">hidden gems</p>
        </div>
    </section>
    <section>
        <twig:SearchComponent />
    </section>
{% endblock %}

{% block aside %}
    <twig:Atoms:ForumAside />
{% endblock %}
