{% extends 'layout.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    <twig:Atoms:PageHeading
        heading="Search"
        tagline="for hidden gems" />
    <section>
        <twig:SearchComponent :query="initialQuery" />
    </section>
{% endblock %}

{% block aside %}
    <twig:Atoms:ForumAside />
{% endblock %}
