<turbo-frame id="profile-tab-content">
    <div class="w-container highlights-container">
        {% if highlights|default([])|length > 0 %}
            <div class="highlights-list">
                {% for highlight in highlights %}
                    {% include 'partial/_highlight_with_source.html.twig' with {highlight: highlight} %}
                {% endfor %}
            </div>
        {% else %}
            <div class="no-content">
                <p>No highlights found for this author.</p>
            </div>
        {% endif %}
    </div>
</turbo-frame>
