figure.media {
    margin: 0;
    padding: var(--spacing-3);
    border: none;
    box-shadow: none;
    background-color: var(--color-bg-light);
}

.picture-description {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-3)  var(--spacing-3)  var(--spacing-1)  var(--spacing-3) ;
}

@media screen and (max-width: 768px) {
    .picture-description {
        flex-direction: column;
        gap: var(--spacing-2);
        padding-bottom: var(--spacing-2);
    }
}

figcaption img {
    width: 150px;
    height: 150px;
    margin: var(--spacing-3);
    object-fit: cover;
    display: block;
}

figcaption.picture-description div {
    flex-grow: 1;
}

figcaption.picture-description p,
figcaption.picture-description .credits {
    line-height: 1.2;
}

figcaption.picture-description .credits {
    flex-shrink: 0;
}

.gallery-view .thumbnails {
    display: flex;
    gap: var(--spacing-1);
    margin-top: var(--spacing-1);
    justify-content: center;
    flex-wrap: wrap;
}
.gallery-view .thumbnail {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.2s;
}
.gallery-view .thumbnail.selected {
    border: 2px solid var(--color-secondary);
}
.gallery-view .thumbnail:focus {
    outline: none;
    border: 2px solid transparent;
    box-shadow: none;
}
.gallery-view .thumbnail:focus-visible {
    outline: 1px solid var(--color-secondary);
    border-radius: 0;
    border: 2px solid transparent;
    box-shadow: none;
}

.main-image-wrapper:focus {
    outline: none;
}

.gallery-view:focus-visible {
    outline: 1px solid var(--color-secondary);
    border-radius: 0;
}
