{% if mag is defined and mag and slug %}
    {% if this.isChapter %}
        {% set catPath = path('magazine-chapter', { 'mag': mag, 'slug': slug }) %}
    {% elseif this.isCategory %}
        {% set catPath = path('magazine-category', { 'mag': mag, 'slug': slug }) %}
    {% else %}
        {% set catPath = '#' %}
    {% endif %}
{% else %}
    {% set catPath = '#' %}
{% endif %}
<a {% if catPath in app.request.uri %}class="active"{% endif %}
   href="{{ catPath }}">
    {{ title }}
</a>
