{% if app.user %}
    <div class="panel-section">
        <p>Your article will be published to the following relays.</p>
        <small>You'll be able to select a subset in the future.</small>
        <br>
        {% set relays = app.user.relays %}
        {% if relays %}
            {# Handle both flat array and nested {write: [], read: [], all: []} structure #}
            {% set writeRelays = relays.write is defined ? relays.write : (relays.all is defined ? relays.all : relays) %}
            {% if writeRelays and writeRelays|length > 0 %}
                <ul class="list-unstyled">
                    {% for relay in writeRelays %}
                        <li><pre>{{ relay }}</pre></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No relays found. Relays will be loaded automatically.</p>
            {% endif %}
        {% else %}
            <p>Loading relays...</p>
            <small>Refresh the page if relays don't appear shortly.</small>
        {% endif %}

        <span>Default relay:</span>
        <ul class="list-unstyled">
            <li><pre>wss://relay.decentnewsroom.com</pre></li>
        </ul>
    </div>
{% endif %}
