{% extends '@Chat/layout.html.twig' %}
{% block title %}Settings{% endblock %}
{% block body %}
<div class="chat-settings">
    <h2>Settings</h2>
    <p>Chat settings coming soon.</p>
</div>
{% endblock %}

