{% extends '@Chat/layout.html.twig' %}
{% block title %}Invites{% endblock %}
{% block body %}
<div class="chat-manage">
    <h2>Invite Management</h2>
    <p>Invite management coming soon.</p>
</div>
{% endblock %}

