services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\UnfoldBundle\:
        resource: '../../'
        exclude:
            - '../../DependencyInjection/'
            - '../../Entity/'
