form {
    display: flex;
    flex-direction: column;
    clear: both;
    margin-bottom: 1em;
}

form > div:not(.actions) {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

label {
    display: flex;
    clear: both;
}

input, textarea, select {
    display: block;
    clear: both;
    width: 100%;
}

input, textarea, select, .quill {
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-primary);
    border-radius: 0;  /* Sharp edges */
}

input, textarea, select {
    padding: 10px;
}

textarea, input, select {
    font-family: var(--font-family), sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--color-primary);
    outline: none;
}

.help-text {
    font-size: 0.8rem;
    color: var(--color-text);
    font-weight: lighter;
}

#editor_actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.image-with-preview {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.image-with-preview img.avatar {
    width: 40px;
    height: 40px;
    margin-right: 1em;
}

.image-with-preview input {
    flex-grow: 1;
}

#editor {
    margin: 0;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

fieldset {
    border: none;
}

.actions {
    margin-bottom: 1.5em;
}

form ul.list-unstyled li > div > label {
    display: none;
}
