<section {{ attributes }} class="d-flex gap-3 center ln-section--latest-articles">
    <div class="container mt-5 mb-5">
        <h1>{{ heading }}</h1>
        {% if tagline %}
            <p class="eyebrow">{{ tagline }}</p>
        {% endif %}
    </div>
</section>
