{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    <div
        data-controller="search-visibility"
        data-action="search:changed@window->search-visibility#toggle"
    >
        <twig:SearchComponent :currentRoute="app.current_route" />
        <div data-search-visibility-target="list">
            <twig:Organisms:CardList :list="latest" />
        </div>
    </div>
{% endblock %}

{% block aside %}
    <h6>Magazines</h6>
    <twig:Organisms:ZineList />
{% endblock %}
