{% extends 'app-shell.html.twig' %}

{% block sidebar %}
    <twig:SidebarNav
        id="leftNav"
        :sections="newsroomNav"
        :backLink="{label: 'nav.backToDiscover', route: 'discover', icon: 'iconoir:arrow-right'}"
        :footerComponent="'components/UserMenu.html.twig'"
    />
{% endblock %}

{% block aside %}
    {% if app.user %}
        <section class="context-panel">
            <p class="eyebrow">{{ 'nav.newsroom'|trans }}</p>
            <h2>{{ 'nav.publishYourContent'|trans }}</h2>
            <a class="btn" href="{{ path('editor-create') }}">{{ 'nav.createArticle'|trans }}</a>
        </section>
    {% else %}
        {% include 'blog-journey/_login_cta_card.html.twig' %}
    {% endif %}
{% endblock %}
