<div {{ attributes }}>
    {% set packs = this.packs %}
    {% if packs is not empty %}
        {% for pack in packs %}
            {% include 'partial/_follow_pack_card.html.twig' %}
        {% endfor %}
    {% else %}
        <p><small>{{ 'followPacks.noPacks'|trans }}</small></p>
    {% endif %}
</div>
