<div {{ attributes }}>
  {% set items = this.lists %}
  {% if items is not empty %}
      {% for item in items %}
      <div class="card d-flex gap-3 center ln-section--reader">
          <h1><a href="{{ path('reading-list', { slug: item.slug, npub: item.pubkey|toNpub }) }}">{{ item.title }}</a></h1>
          {% if item.summary is defined and item.summary %}
              <p class="eyebrow">{{ item.summary }}</p>
          {% endif %}
          <p>by <twig:Molecules:UserFromNpub :ident="item.pubkey" /></p>
      </div>
      {% endfor %}
  {% else %}
    <p><small>No reading lists yet.</small></p>
  {% endif %}
</div>
