{% if articles|length > 0 %}
<section class="related-articles" aria-label="{{ 'article.relatedArticles'|trans }}">
    <p class="related-articles__heading">
        {% if fromInterests %}
            {{ 'article.relatedFromInterests'|trans }}
        {% else %}
            {{ 'article.relatedArticles'|trans }}
        {% endif %}
    </p>
    <div class="related-articles__grid">
        {% for article in articles %}
            <div class="related-articles__item">
                <twig:Molecules:Card :article="article" />
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}
