{# Embedded event card component #}
<div class="embedded-event-card" data-nevent="{{ nevent }}">
    <div class="event-header">
        {% if author %}
            <div class="author-info">
                <strong>{{ author.name ?? 'Anonymous' }}</strong>
            </div>
        {% endif %}
        <div class="event-meta">
            <span class="event-date">{{ event.created_at|date('M j, Y H:i') }}</span>
        </div>
    </div>

    <div class="event-content">
        <twig:Atoms:Content :content="event.content" />
    </div>
    {% include 'partial/_gallery.html.twig' with {event: event, isEmbed: true} %}

    <div class="event-footer">
        <a href="/e/{{ nevent }}" class="view-full">View full event</a>
    </div>
</div>
