<header class="header" data-controller="menu" {{ attributes }}>
    <div class="header__logo">
        <h1 class="brand"><a href="/">newsroom</a></h1>
    </div>
    <div data-controller="progress-bar">
        <div id="progress-bar" data-progress-bar-target="bar"></div>
    </div>
</header>
