<header class="header" data-controller="menu" {{ attributes }}>
    <div class="container">
        <div class="mobile-toggles" data-controller="sidebar-toggle">
            <button class="toggle" aria-controls="leftNav" aria-expanded="false" data-action="click->sidebar-toggle#toggle">☰</button>
        </div>
        <div class="header__logo">
            <h1 class="brand"><a href="/">Decent Newsroom</a></h1>
        </div>
    </div>
    <div data-controller="progress-bar">
        <div id="progress-bar" data-progress-bar-target="bar"></div>
    </div>
</header>
