{% extends 'layout.html.twig' %}
{% block title %}Send Feedback{% endblock %}

{% block body %}
<div class="w-container mt-5">
    <twig:Atoms:PageHeading heading="Feedback" tagline="Bug reports and feature requests"/>
    <section>
        <form data-controller="nostr--nostr-single-sign" data-nostr--nostr-single-sign-event-value='{{ {
            "kind": 24,
            "tags": [...recipients|map(r => ["p", r]), ['client', 'Decent Newsroom']],
            "content": ""
        }|json_encode(constant('JSON_UNESCAPED_SLASHES')) }}'
              data-nostr--nostr-single-sign-publish-url-value="/api/nostr/publish"
              data-nostr--nostr-single-sign-csrf-token-value="{{ csrf_token('feedback') }}"
              data-action="submit->nostr--nostr-single-sign#signAndPublish">
            <div data-nostr--nostr-single-sign-target="status"></div>
            <div class="mb-3">
                <p>To:
                    {% for r in recipients %}
                        <twig:Molecules:UserFromNpub :ident="r" />
                        {% if not loop.last %}and {% endif %}
                    {% endfor %}
                </p>
                <label for="feedback-message" class="form-label">Your Message</label>
                <textarea id="feedback-message" class="form-control" rows="5" required data-action="input->nostr--nostr-single-sign#preparePreview"></textarea>
            </div>
            <div class="actions">
                <button type="submit" class="btn btn-primary" data-nostr--nostr-single-sign-target="publishButton">Send Feedback</button>
            </div>
            <h5 class="mt-4">Preview</h5>
            <pre data-nostr--nostr-single-sign-target="computedPreview" class="bg-light p-2"></pre>
        </form>
    </section>
</div>
{% endblock %}

