{% extends 'layout.html.twig' %}

{% block body %}
    <twig:Atoms:PageHeading heading="{{ tag|capitalize }}" />

    {% if articles is empty %}
        <p>{{ 'topics.noArticles'|trans }}</p>
    {% else %}
        <twig:Organisms:CardList :list="articles" class="article-list" />
    {% endif %}

    {% if pager.getNbPages() > 1 %}
        <twig:Atoms:Pagination :pager="pager" route="forum_tag" :routeParams="{tag: tag}" />
    {% endif %}
{% endblock %}

{% block aside %}
    <twig:Atoms:ForumAside />
{% endblock %}
